[tool.coverage]
[tool.coverage.run]
branch = true

[tool.coverage.report]
skip_covered = true
exclude_lines = ["pragma: no cover", "if False:", "if __name__ == .__main__.:", "raise NotImplementedError"]


[tool.ruff.format]
quote-style = "single"
[dependency-groups]
dev = [
    "coverage>=7.13.2",
    "numpy>=2.2.6",
    "pyupgrade>=3.21.2",
    "ruff>=0.14.14",
    "ty>=0.0.14",
]
